.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
crash.log
*.pem
*.ppk
__pycache__/
.pytest_cache/
*.pyc
.venv/

*.md
*.log
*.zip
*.tar.gz
*.bak
*.swp
.DS_Store
.idea/
.vscode/
*.iml
*.ps1     